<h1>Welcome</h1>
<p>there are some useful routes to see api behaviour</p>
<p>thanks for visit</p>
<ul>
  <li><a href="/api/v1/authors">/api/v1/authors</a></li>
  <li><a href="/api/v1/authors/1">/api/v1/authors/1</a></li>
  <li><a href="/api/v1/authors/2">/api/v1/authors/2</a></li>
  <li><a href="/api/v1/authors/sandi-metz">/api/v1/authors/sandi-metz</a></li>
  <li><a href="/api/v1/authors/katrina-owen">/api/v1/authors/katrina-owen</a></li>
  <li><a href="/api/v1/authors/sam-ruby">/api/v1/authors/sam-ruby</a></li>
  <li><a href="/api/v1/books">/api/v1/books</a></li>
  <li><a href="/api/v1/books/99-bottles-of-oop">/api/v1/books/99-bottles-of-oop</a></li>
  <li><a href="/api/v1/books/agile-web-development-with-rails-5-1:">/api/v1/books/agile-web-development-with-rails-5-1:</a></li>
  <li><a href="/api/v1/books/practical-object-oriented-design-in-ruby">/api/v1/books/practical-object-oriented-design-in-ruby</a></li>
  <li><a href="/api/v1/books/1/comments">/api/v1/books/1/comments</a></li>
  <li><a href="/api/v1/books/99-bottles-of-oop/comments">/api/v1/books/99-bottles-of-oop/comments</a></li>
  <li><a href="/api/v1/books/99-bottles-of-oop/authors">/api/v1/books/99-bottles-of-oop/authors</a></li>
</ul>
